.phpinfo {
	font-size: 120%;
}
.diagnosis table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}

.diagnosis td,
.diagnosis th {
	background: #eee;
	border: 1px solid #000;
	font-family: sans-serif;
	padding: 3px;
	vertical-align: baseline;
}
.diagnosis tbody th,
.phpinfo .e {
	background-color: #ccf;
	color: #000;
	font-weight: bold;
	text-align: left;
	width: 16em;
}
.diagnosis thead th,
.phpinfo .h,
.phpinfo .h th{
	background-color: #99c;
	color: #000;
	font-weight: bold;
}
.diagnosis .value,
.phpinfo .v {
	background: #ccc;
	color: #000;
}
.diagnosis .value {
	width: 30%;
}
.phpinfo .e {
	width: auto;
}
.phpinfo h1,
.phpinfo h2 {
	font-family: sans-serif;
}
.diagnosis pre {
	font-family: monospace;
	margin: 0;
}
.diagnosis a,
.phpinfo h2 {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.diagnosis a:link,
.diagnosis a:visited {
	color: #009;
	font-weight: normal;
	text-decoration: none;
}
.diagnosis a:hover {
	text-decoration: underline;
}
.phpinfo .center {
	text-align: center;
}
.phpinfo .center table {
	text-align: left;
	margin-bottom: 0;
}
.phpinfo .center th {
	text-align: center !important;
}
.phpinfo h1 {
	font-size: 150%;
}
.phpinfo h2 {
	font-size: 125%;
}
.phpinfo .p {
	text-align: left;
}
.phpinfo .vr {
	background-color: #ccc;
	color: #000;
	text-align: right;
}
.phpinfo img {
	border: 0;
	float: right;
}
.phpinfo hr {
	background-color: #ccc;
	border: 0;
	color: #000;
	height: 1px;
	width: 600px;
}
